{{- $scratch := newScratch }}

{{- with .CurrentSection -}}
{{- /* TODO: do not show when inside same section */ -}}
{{- $scratch.Add "meta" (printf "<b>Portata</b>&nbsp;%s" .Title | slice) }}
{{- end -}}

{{- with .Params.tempo -}}
{{- $scratch.Add "meta" (printf "<b>Tempo totale</b>&nbsp;%s" . | slice) }}
{{- end -}}

{{- with .Params.dose -}}
{{- $scratch.Add "meta" (printf "<b>Dose per</b>&nbsp;%s" . | slice) }}
{{- end -}}

{{- with $scratch.Get "meta" }}
{{- delimit . "&nbsp;·&nbsp;" | safeHTML -}}
{{- end -}}
